.animacion {
  opacity: 0.5;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.transform_up {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.imgpizza {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.pizza-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.pizza-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.animacionFooter {
  opacity: 0.5;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mostrar {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

/*.mostrar {
    animation: mostrarPizza 1s;
}

@keyframes mostrarPizza {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}*/