.animate {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mostrar {
  -webkit-animation: mostrarPizza 1s;
          animation: mostrarPizza 1s;
}

@-webkit-keyframes mostrarPizza {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mostrarPizza {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}