/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Baloo 2", cursive;
  min-width: 320px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.greca::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  background-image: url("../asset/grecas.png");
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.greca::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  background-image: url("../asset/grecas.png");
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.titulo {
  width: 95%;
  padding-top: 10px;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 15px;
  letter-spacing: 1rem;
  text-align: center;
  z-index: 3;
}

.nota {
  position: relative;
  margin-top: 10px;
  padding: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  border: 2px solid #f35a18;
  border-radius: 10px;
  -webkit-box-shadow: 4px 6px 8px 1px rgba(0, 0, 0, 0.78);
          box-shadow: 4px 6px 8px 1px rgba(0, 0, 0, 0.78);
}

.header {
  width: 100%;
  height: 115px;
  background-color: #F3C186;
}
.header-titulo {
  width: 95%;
  height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-titulo .logo {
  width: 70px;
  height: 70px;
}
.header-titulo .nombre {
  width: 240px;
  height: 40px;
}
.header-nav {
  width: 100%;
  height: 40px;
  padding: 1px;
  border-bottom: 2px solid #f35a18;
  background: #e5ab67;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5ab67), to(#f3c186));
  background: linear-gradient(180deg, #e5ab67 0%, #f3c186 100%);
}
.header-nav_enlaces ul {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav_enlaces ul li a {
  display: block;
  width: 100px;
  height: 22px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: black;
  background-color: #F3C186;
  border: 1px solid #f35a18;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.main {
  width: 100%;
  height: auto;
  background-image: url("../imgS/fondomovil.jpg");
  background-repeat: repeat;
  opacity: 0.8;
}
.main-titulo {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-titulo .izamal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-titulo .izamal h1 {
  font-size: 1.8rem;
  font-weight: 900;
}
.main-titulo .izamal .fas {
  font-size: 2.5rem;
  color: yellow;
  text-shadow: 2px 3px black;
  /*text-shadow: explosion(50, 100px);*/
}
.main-titulo .frase {
  font-size: 1.5rem;
  font-weight: 600;
}
.main-titulo .fa-angle-down {
  font-size: 3rem;
  color: #f35a18;
  text-shadow: 1px 4px black;
  -webkit-animation: arrowDown 2s ease infinite;
          animation: arrowDown 2s ease infinite;
}
.main-pizzas {
  width: 95%;
  height: auto;
  margin: 0 auto 50px;
}
.main-pizzas::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1940px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 2;
}
.main-pizzas_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0 0;
  z-index: 3;
}
.main-pizzas_container .pizza {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 20px 0 10px;
}
.main-pizzas_container .pizza-img {
  position: relative;
  width: 40px;
  z-index: 2;
}
.main-pizzas_container .pizza .small {
  height: 90px;
}
.main-pizzas_container .pizza .medium {
  height: 120px;
}
.main-pizzas_container .pizza .big {
  height: 150px;
}
.main-pizzas_container .pizza-container {
  position: relative;
  width: 260px;
  height: auto;
  max-height: 75%;
  padding: 3px 3px 3px 10px;
  left: -19px;
  border: 2px solid black;
  -webkit-box-shadow: 2.5px 3px black;
          box-shadow: 2.5px 3px black;
  border-radius: 5px;
  background-color: rgba(255, 103, 1, 0.6);
  z-index: 1;
}
.main-pizzas_container .pizza-container .pizza-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 900;
}
.main-pizzas_container .pizza-container .pizza-ingredientes {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.main-ovnis {
  width: 95%;
  height: auto;
  margin: 10px auto 0;
  padding-bottom: 50px;
}
.main-ovnis::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1580px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
}
.main-ovnis_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-ovnis_container .main-ovnis_titulo {
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}
.main-ovnis_container .main-ovnis_titulo p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-align: center;
}
.main-ovnis_container .ovnis {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 0 10px;
}
.main-ovnis_container .ovnis img {
  width: 80px;
  height: 60px;
  z-index: 2;
}
.main-ovnis_container .ovnis-container {
  position: relative;
  padding: 5px;
  background: rgba(255, 103, 1, 0.6);
  left: -40px;
  border: 2px solid black;
  -webkit-box-shadow: 2.5px 3px black;
          box-shadow: 2.5px 3px black;
  border-radius: 10px;
}
.main-ovnis_container .ovnis-nombre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
}
.main-ovnis_container .ovnis-ingredientes {
  padding-left: 35px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}
.main-ingredientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.main-ingredientes::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 360px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
}
.main-ingredientes .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  z-index: 2;
  overflow: hidden;
}
.main-ingredientes .container .vegetales {
  text-align: end;
}
.main-ingredientes .container .pepperoni::before {
  background-image: url("../Ingredientes/008-pepperoni.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .jamon::before {
  background-image: url("../Ingredientes/002-jamon.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .salchicha::before {
  background-image: url("../Ingredientes/003-salchichas.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .champinon::before {
  background-image: url("../Ingredientes/004-champinon.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .chorizo::before {
  background-image: url("../Ingredientes/005-chorizo.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .salami::before {
  background-image: url("../Ingredientes/006-salami.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .pastor::before {
  background-image: url("../Ingredientes/007-trompo.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .pina::after {
  background-image: url("../Ingredientes/009-pina.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .jalapeno::after {
  background-image: url("../Ingredientes/010-jalapeno.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .cebolla::after {
  background-image: url("../Ingredientes/011-cebolla.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .tomate::after {
  background-image: url("../Ingredientes/001-tomate.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .pimiento::after {
  background-image: url("../Ingredientes/012-comida-y-restaurante.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .guacamole::after {
  background-image: url("../Ingredientes/013-guacamole.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .chipotle::after {
  background-image: url("../Ingredientes/014-chile.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

.img-pizzas {
  position: absolute;
  width: 100%;
  height: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  overflow: hidden;
  z-index: 1;
}
.img-pizzas img {
  width: 250px;
  height: auto;
  margin: 15px 0;
}
.img-pizzas img:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.img-pizzas img:nth-child(even) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-promociones {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 10px;
}
.main-promociones::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 240px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
}
.main-promociones .promociones {
  position: relative;
  padding: 5px;
}
.main-promociones .contenido {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5px;
  z-index: 1;
}
.main-promociones .contenido .delivery {
  text-align: center;
  margin: auto;
}
.main-promociones .contenido .delivery p:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 10px;
}
.main-promociones .contenido .delivery p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-promociones .contenido .delivery .arrowR::after {
  content: "";
  background-image: url(../asset/right-arrow.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 15px;
  height: 20px;
  padding-left: 5px;
}
.main-promociones .contenido .delivery p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 600;
}
.main-promociones .contenido img {
  width: 80px;
  height: 190px;
}

.footer {
  width: 100%;
  height: auto;
  padding-top: 10px;
  background-color: #F3C186;
  border-top: 2px solid #f35a18;
}
.footer .whatsapp {
  position: fixed;
  display: inline-block;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}
.footer .whatsapp .logo {
  width: 100%;
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 60px;
  margin: 0 auto;
}
.footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link .fa-facebook-square {
  font-size: 2.5rem;
  color: #f35a18;
}
.footer-link .fas {
  font-size: 1.2rem;
  color: black;
}
.footer-link .fa-map-marker-alt {
  font-size: 1.5rem;
  color: #f35a18;
}
.footer-link .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link .footer-logo .logo {
  width: 50px;
  height: 50px;
}
.footer-link .footer-logo .nombre {
  width: 180px;
  height: 30px;
}
.footer-dev {
  width: 100%;
  height: 100%;
  background-color: black;
}
.footer-dev_section {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-dev_section div {
  margin-top: 10px;
  color: white;
  font-size: 1.4rem;
  z-index: 2;
}
.footer-dev_section .fa-laptop-code {
  color: white;
}
.footer-dev_section .cont-kukulkan {
  position: relative;
  top: -35px;
  -webkit-perspective: 100px;
          perspective: 100px;
  width: 100px;
  height: 50px;
  z-index: 1;
}
.footer-dev_section .cont-kukulkan .kukulkan {
  position: absolute;
  width: 100px;
  height: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotatex(47deg);
          transform: rotatex(47deg);
}

@media (min-width: 900px) {
  .media-queries {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[10fr];
    grid-template-columns: repeat(10fr);
    -ms-grid-rows: ()[10fr];
    grid-template-rows: repeat(10fr);
    width: 95%;
    height: auto;
  }
  .media-queries > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(11) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(21) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(22) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(23) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(24) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(31) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(32) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(33) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(34) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(35) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(36) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(37) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(38) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(39) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(40) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(41) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(42) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(43) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(44) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(45) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(46) {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(47) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(48) {
    -ms-grid-row: 5;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(49) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(50) {
    -ms-grid-row: 5;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(51) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(52) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(53) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(54) {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(55) {
    -ms-grid-row: 6;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(56) {
    -ms-grid-row: 6;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(57) {
    -ms-grid-row: 6;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(58) {
    -ms-grid-row: 6;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(59) {
    -ms-grid-row: 6;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(60) {
    -ms-grid-row: 6;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(61) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(62) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(63) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(64) {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(65) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(66) {
    -ms-grid-row: 7;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(67) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(68) {
    -ms-grid-row: 7;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(69) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(70) {
    -ms-grid-row: 7;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(71) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(72) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(73) {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(74) {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(75) {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(76) {
    -ms-grid-row: 8;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(77) {
    -ms-grid-row: 8;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(78) {
    -ms-grid-row: 8;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(79) {
    -ms-grid-row: 8;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(80) {
    -ms-grid-row: 8;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(81) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(82) {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(83) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(84) {
    -ms-grid-row: 9;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(85) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(86) {
    -ms-grid-row: 9;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(87) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(88) {
    -ms-grid-row: 9;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(89) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(90) {
    -ms-grid-row: 9;
    -ms-grid-column: 10;
  }
  .media-queries > *:nth-child(91) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(92) {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(93) {
    -ms-grid-row: 10;
    -ms-grid-column: 3;
  }
  .media-queries > *:nth-child(94) {
    -ms-grid-row: 10;
    -ms-grid-column: 4;
  }
  .media-queries > *:nth-child(95) {
    -ms-grid-row: 10;
    -ms-grid-column: 5;
  }
  .media-queries > *:nth-child(96) {
    -ms-grid-row: 10;
    -ms-grid-column: 6;
  }
  .media-queries > *:nth-child(97) {
    -ms-grid-row: 10;
    -ms-grid-column: 7;
  }
  .media-queries > *:nth-child(98) {
    -ms-grid-row: 10;
    -ms-grid-column: 8;
  }
  .media-queries > *:nth-child(99) {
    -ms-grid-row: 10;
    -ms-grid-column: 9;
  }
  .media-queries > *:nth-child(100) {
    -ms-grid-row: 10;
    -ms-grid-column: 10;
  }
  .media-queries .img-pizzas .main-pizzas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1/8;
  }
  .media-queries .main-ingredientes {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .media-queries .main-promociones {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
  }
  .media-queries .main-ovnis {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8/11;
  }
}