/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

@mixin carnes {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px 6px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

@mixin vegetales {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px 6px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

$color-primario: #F3C186;
$border-pizza: #f35a18;
$color-fondo: #fae9b5;
$opacity: .50;
$fonfo-pizzas: rgba(255, 103, 1, 0.6);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Baloo 2', cursive;
    min-width: 320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.greca::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 10px;
    background-image: url('../asset/grecas.png');
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}

.greca::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 10px;
    background-image: url('../asset/grecas.png');
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}

.titulo {
    width: 95%;
    padding-top: 10px;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 1rem;
    text-align: center;
    z-index: 3;
}

.nota {
    position: relative;
    margin-top: 10px;
    padding: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    border: 2px solid $border-pizza;
    border-radius: 10px;
    box-shadow: 4px 6px 8px 1px rgba(0,0,0,0.78);
}

.header {
    width: 100%;
    height: 115px;
    background-color: $color-primario;
    &-titulo {
        width: 95%;
        height: 75px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .logo {
            width: 70px;
            height: 70px;
        }
        .nombre {
            width: 240px;
            height: 40px;
        }
    }    
    &-nav {
        width: 100%;
        height: 40px;
        padding: 1px;
        border-bottom: 2px solid $border-pizza;
        background: rgb(229,171,103);
        background: linear-gradient(180deg, rgba(229,171,103,1) 0%, rgba(243,193,134,1) 100%);
        &_enlaces ul{
            width: 100%;
            height: 40px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            li a {
                display: block;
                width: 100px;
                height: 22px;
                font-size: 1.3rem;
                font-weight: 600;
                text-align: center;
                color: black;
                background-color: $color-primario;
                border: 1px solid $border-pizza;
                border-radius: 10px;
                box-shadow: 2px 2px black;  
            }
        }

    }
    
}

.main {
    width: 100%;
    height: auto;
    background-image: url('../imgS/fondomovil.jpg');
    background-repeat: repeat;
    opacity: .80;
    &-titulo {
        width: 320px;
        margin: 0 auto;
        padding: 20px 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .izamal {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            h1 {
                font-size: 1.8rem;
                font-weight: 900;
            }
            .fas {
                font-size: 2.5rem;
                color: yellow;
                text-shadow: 2px 3px black;
                /*text-shadow: explosion(50, 100px);*/
            }
        }
        .frase {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .fa-angle-down{
            font-size: 3rem; 
            color: $border-pizza;
            text-shadow: 1px 4px black;
            animation: arrowDown 2s ease infinite;
            
        }
    }
    &-pizzas {
        width: 95%;
        height: auto;
        margin: 0 auto 50px;
        padding-bottom: 30PX;
        &::before {
            content: '';
            position: absolute;
            width: 95%;
            height: 1850px;
            background-color: $color-fondo;
            opacity: $opacity;
            border-radius: 10px;
            z-index: 2;
            @media (min-width: 900px) {
                display: none;
            }
        }
        &_container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding: 5px 0 0;
            z-index: 3;
            .pizza {
                width: 300px;
                height: auto;
                display: flex;
                align-items: flex-end;
                margin: 20px 0 10px;
                &-img {
                    position: relative;
                    width: 40px;
                    z-index: 2;
                }
                .small {
                    height: 90px;
                }
                .medium {
                    height: 120px;
                }
                .big {
                    height: 150px;
                }
                &-container {
                    position: relative;
                    width: 260px;
                    height: auto;
                    max-height: 75%;
                    padding: 3px 3px 3px 10px;
                    left: -19px;
                    border: 2px solid black;
                    box-shadow: 2.5px 3px black;
                    border-radius: 5px;
                    background-color: $fonfo-pizzas;
                    z-index: 1;
                    .pizza-nombre {
                        display: flex;
                        justify-content: space-between;
                        font-size: 1.8rem;
                        font-weight: 900;
                    }
                    .pizza-ingredientes {
                        font-size: 1.6rem;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
            .pizzas-media-container {
                @media (min-width: 900px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center ;
                }
            }
        }
    }  
    &-ovnis {
        width: 95%;
        height: auto;
        margin: 10px auto 0;
        padding-bottom: 50px;
        &::before {
            content: '';
            position: absolute;
            width: 95%;
            height: 1470px;
            background-color: $color-fondo;
            opacity: $opacity;
            border-radius: 10px;
            @media (min-width: 900px) {
                display: none;
            }
        }
        &_container {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .main-ovnis_titulo {
                width: 95%;
                margin: 0 auto;
                padding-top: 10px;
                text-align: center;
                p {
                    font-size: 1.5rem;
                    letter-spacing: .1rem;
                    font-weight: 600;
                    text-align: center;
                }   
            }
            .ovnis {
                width: 300px;
                display: flex;    
                height: auto;
                align-items: flex-end;
                margin: 10px 0 10px;
                img {
                    width: 80px;
                    height: 60px;
                    z-index: 2;
            
                }
                &-container {
                    position: relative;
                    padding: 5px;
                    background: $fonfo-pizzas;
                    left: -40px;
                    border: 2px solid black;
                    box-shadow: 2.5px 3px black;
                    border-radius: 10px;
                }
                &-nombre {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.8rem;
                    font-weight: 900;
                    text-align: center;
                }
            
                &-ingredientes {
                    padding-left: 35px;
                    font-size: 1.6rem;
                    font-weight: 600;
                    text-align: left;
                }
            }
        }
        @media (min-width: 900px) {
            .ovnis-media-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    &-ingredientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 50px;
        &::before {
            content: '';
            position: absolute;
            width: 95%;
            height: 360px;
            background-color: $color-fondo;
            opacity: $opacity;
            border-radius: 10px;
            z-index: 0;
            @media (min-width: 900px) {
                display: none;
            }
        }
        .container {
            position: relative;
            display: flex;
            justify-content: space-around;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            z-index: 2;
            overflow: hidden;
            .vegetales {
                text-align: end;
            }

            .pepperoni::before {
                background-image: url('../Ingredientes/008-pepperoni.png');
                @include carnes();
            }
            .jamon::before {
                background-image: url('../Ingredientes/002-jamon.png');
                @include carnes();
            }
            .salchicha::before {
                background-image: url('../Ingredientes/003-salchichas.png');
                @include carnes();
            }
            .champinon::before {
                background-image: url('../Ingredientes/004-champinon.png');
                @include carnes();
            }
            .chorizo::before {
                background-image: url('../Ingredientes/005-chorizo.png');
                @include carnes();
            }
            .salami::before {
                background-image: url('../Ingredientes/006-salami.png');
                @include carnes();
            }
            .pastor::before {
                background-image: url('../Ingredientes/007-trompo.png');
                @include carnes();
            }
            .pina::after {
                background-image: url('../Ingredientes/009-pina.png');
                @include vegetales();
            }
            .jalapeno::after {
                background-image: url('../Ingredientes/010-jalapeno.png');
                @include vegetales();
            }
            .cebolla::after {
                background-image: url('../Ingredientes/011-cebolla.png');
                @include vegetales();
            }
            .tomate::after {
                background-image: url('../Ingredientes/001-tomate.png');
                @include vegetales();
            }
            .pimiento::after {
                background-image: url('../Ingredientes/012-comida-y-restaurante.png');
                @include vegetales();
            }
            .guacamole::after {
                background-image: url('../Ingredientes/013-guacamole.png');
                @include vegetales();
            }
            .chipotle::after {
                background-image: url('../Ingredientes/014-chile.png');
                @include vegetales();
            }


        }
    }
}

.img-pizzas{
    position: absolute;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    overflow: hidden;
    z-index: 1;
    img {
        width: 250px;
        height: auto;
        margin: 15px 0;
        @media (min-width: 900px) {
            margin: 0;
        }
    }
    img:nth-child(odd) {
       align-self: flex-end;
    }
    img:nth-child(even) {
        align-self: flex-start;
     }
     @media (min-width: 900px) {
        padding-top: 0;
        img:nth-child(5), img:nth-child(6) {
            display: none;
         }
    }
}

.main-promociones {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px;
    &::before {
        content: '';
        position: absolute;
        width: 95%;
        height: 240px;
        background-color: $color-fondo;
        opacity: $opacity;
        border-radius: 10px;
        z-index: 0;
        @media (min-width: 900px) {
            display: none;
        }
    }
    .promociones {
        position: relative;
        padding: 5px;
    }
    .contenido {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
        z-index: 1;
        .delivery {
            text-align: center;
            margin: auto;
            p:nth-child(1){
                font-size: 2rem;                
                text-transform: uppercase;
                font-weight: 900;
                padding-bottom: 10px;
            }
            p:nth-child(2){
                font-size: 1.3rem;
                font-weight: 600;
                padding-bottom: 10px;
                display: flex;
                justify-content: space-evenly;
                
            }
            .arrowR::after {
                content: '';
                background-image: url(../asset/right-arrow.png);
                background-position: center;
                background-size: cover;
                display: inline-block;
                width: 15px;
                height: 20px;
                padding-left: 5px;
            }
            p:nth-child(3){
                font-size: 1.5rem;
                font-weight: 600;
            }   
        }
        img {
            width: 80px;
            height: 190px;
        }

    }
}

.footer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    background-color: $color-primario;
    border-top: 2px solid $border-pizza;
    .whatsapp {
        position: fixed;
        display: inline-block;
        bottom: 20px;
        right: 10px;
        width: 50px;
        height: 50px;
        z-index: 1000;
        .logo {
            width: 100%;
        }
    }
    &-link {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 60px;
        margin: 0 auto;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .fa-facebook-square {
            font-size: 2.5rem;
            color: $border-pizza;
        }
        .fas {
            font-size: 1.2rem;
            color: black;
        }
        .fa-map-marker-alt {
            font-size: 1.5rem;
            color: $border-pizza;
        }

        .footer-logo {
            display: flex;
            align-items: center;
            .logo {
                width: 50px;
                height: 50px;
            }
            .nombre {
                width: 180px;
                height: 30px;
            }
            
        }
    }
    &-dev {
        width: 100%;
        height: 100%;
        background-color: black;
        &_section {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div {
                margin-top: 10px;
                color: white;
                font-size: 1.4rem;
                z-index: 2;
            }
            .fa-laptop-code{
                color: white;
            }
            .cont-kukulkan{
                position: relative;
                top: -35px;
                perspective: 100px;
                width: 100px;
                height: 50px;
                z-index: 1;
                .kukulkan {
                    position: absolute;
                    width: 100px;
                    height: auto;
                    transform-style: preserve-3d;
                    transform: rotatex(47deg);
                }
            }
        }
    }
}

.media-queries {
    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: repeat(2fr);
        grid-template-rows: repeat(3fr);
        width: 95%;
        height: auto;
        margin: 0 auto;
        .main-pizzas {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        .img-pizzas {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            overflow: hidden;
        }

        .main-ingredientes {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .main-promociones {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .main-ovnis {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }
}
