/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Baloo 2", cursive;
  min-width: 320px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.greca::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  background-image: url("../asset/grecas.png");
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.greca::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  background-image: url("../asset/grecas.png");
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.titulo {
  width: 95%;
  padding-top: 10px;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 15px;
  letter-spacing: 1rem;
  text-align: center;
  z-index: 3;
}

.nota {
  position: relative;
  margin-top: 10px;
  padding: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  border: 2px solid #f35a18;
  border-radius: 10px;
  -webkit-box-shadow: 4px 6px 8px 1px rgba(0, 0, 0, 0.78);
          box-shadow: 4px 6px 8px 1px rgba(0, 0, 0, 0.78);
}

.header {
  width: 100%;
  height: 115px;
  background-color: #F3C186;
}
.header-titulo {
  width: 95%;
  height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-titulo .logo {
  width: 70px;
  height: 70px;
}
.header-titulo .nombre {
  width: 240px;
  height: 40px;
}
.header-nav {
  width: 100%;
  height: 40px;
  padding: 1px;
  border-bottom: 2px solid #f35a18;
  background: rgb(229, 171, 103);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(229, 171, 103)), to(rgb(243, 193, 134)));
  background: linear-gradient(180deg, rgb(229, 171, 103) 0%, rgb(243, 193, 134) 100%);
}
.header-nav_enlaces ul {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav_enlaces ul li a {
  display: block;
  width: 100px;
  height: 22px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: black;
  background-color: #F3C186;
  border: 1px solid #f35a18;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.main {
  width: 100%;
  height: auto;
  background-image: url("../imgS/fondomovil.jpg");
  background-repeat: repeat;
  opacity: 0.8;
}
.main-titulo {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-titulo .izamal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-titulo .izamal h1 {
  font-size: 1.8rem;
  font-weight: 900;
}
.main-titulo .izamal .fas {
  font-size: 2.5rem;
  color: yellow;
  text-shadow: 2px 3px black;
  /*text-shadow: explosion(50, 100px);*/
}
.main-titulo .frase {
  font-size: 1.5rem;
  font-weight: 600;
}
.main-titulo .fa-angle-down {
  font-size: 3rem;
  color: #f35a18;
  text-shadow: 1px 4px black;
  -webkit-animation: arrowDown 2s ease infinite;
          animation: arrowDown 2s ease infinite;
}
.main-pizzas {
  width: 95%;
  height: auto;
  margin: 0 auto 50px;
  padding-bottom: 30PX;
}
.main-pizzas::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1850px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 2;
}
@media (min-width: 900px) {
  .main-pizzas::before {
    display: none;
  }
}
.main-pizzas_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0 0;
  z-index: 3;
}
.main-pizzas_container .pizza {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 20px 0 10px;
}
.main-pizzas_container .pizza-img {
  position: relative;
  width: 40px;
  z-index: 2;
}
.main-pizzas_container .pizza .small {
  height: 90px;
}
.main-pizzas_container .pizza .medium {
  height: 120px;
}
.main-pizzas_container .pizza .big {
  height: 150px;
}
.main-pizzas_container .pizza-container {
  position: relative;
  width: 260px;
  height: auto;
  max-height: 75%;
  padding: 3px 3px 3px 10px;
  left: -19px;
  border: 2px solid black;
  -webkit-box-shadow: 2.5px 3px black;
          box-shadow: 2.5px 3px black;
  border-radius: 5px;
  background-color: rgba(255, 103, 1, 0.6);
  z-index: 1;
}
.main-pizzas_container .pizza-container .pizza-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 900;
}
.main-pizzas_container .pizza-container .pizza-ingredientes {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 900px) {
  .main-pizzas_container .pizzas-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main-ovnis {
  width: 95%;
  height: auto;
  margin: 10px auto 0;
  padding-bottom: 50px;
}
.main-ovnis::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1620px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 2;
}
@media (min-width: 900px) {
  .main-ovnis::before {
    display: none;
  }
}
.main-ovnis_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
.main-ovnis_container .main-ovnis_titulo {
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}
.main-ovnis_container .main-ovnis_titulo p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-align: center;
}
.main-ovnis_container .ovnis {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 0 10px;
}
.main-ovnis_container .ovnis img {
  width: 80px;
  height: 60px;
  z-index: 2;
}
.main-ovnis_container .ovnis-container {
  position: relative;
  padding: 5px;
  background: rgba(255, 103, 1, 0.6);
  left: -40px;
  border: 2px solid black;
  -webkit-box-shadow: 2.5px 3px black;
          box-shadow: 2.5px 3px black;
  border-radius: 10px;
}
.main-ovnis_container .ovnis-nombre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
}
.main-ovnis_container .ovnis-ingredientes {
  padding-left: 35px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}
@media (min-width: 900px) {
  .main-ovnis .ovnis-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
}
.main-ingredientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.main-ingredientes::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 360px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
}
@media (min-width: 900px) {
  .main-ingredientes::before {
    display: none;
  }
}
.main-ingredientes .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  z-index: 2;
  overflow: hidden;
}
.main-ingredientes .container .vegetales {
  text-align: end;
}
.main-ingredientes .container .pepperoni::before {
  background-image: url("../Ingredientes/008-pepperoni.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .jamon::before {
  background-image: url("../Ingredientes/002-jamon.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .salchicha::before {
  background-image: url("../Ingredientes/003-salchichas.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .champinon::before {
  background-image: url("../Ingredientes/004-champinon.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .chorizo::before {
  background-image: url("../Ingredientes/005-chorizo.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .salami::before {
  background-image: url("../Ingredientes/006-salami.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .pastor::before {
  background-image: url("../Ingredientes/007-trompo.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .pina::after {
  background-image: url("../Ingredientes/009-pina.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .jalapeno::after {
  background-image: url("../Ingredientes/010-jalapeno.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .cebolla::after {
  background-image: url("../Ingredientes/011-cebolla.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .tomate::after {
  background-image: url("../Ingredientes/001-tomate.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .pimiento::after {
  background-image: url("../Ingredientes/012-comida-y-restaurante.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .guacamole::after {
  background-image: url("../Ingredientes/013-guacamole.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-ingredientes .container .chipotle::after {
  background-image: url("../Ingredientes/014-chile.png");
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 6px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.main-complementos {
  width: 95%;
  height: 450PX;
  margin: 0 auto;
  padding-bottom: 30px;
}
.main-complementos::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 450px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 2;
}
@media (min-width: 900px) {
  .main-complementos::before {
    display: none;
  }
}
.main-complementos .container {
  position: relative;
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  z-index: 3;
}
.main-complementos .container .pan {
  position: relative;
  min-width: 280px;
  max-width: 300PX;
  margin: 0 10px;
  -webkit-box-shadow: 0 4px 8px rgba(89, 73, 30, 0.6);
          box-shadow: 0 4px 8px rgba(89, 73, 30, 0.6);
  scroll-snap-align: center;
  width: 100%;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-complementos .container .pan img {
  width: 280px;
}
.main-complementos .container .pan p:nth-child(3) {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 10px;
  letter-spacing: 0.2rem;
}
.main-complementos .container .ovnis {
  position: relative;
  min-width: 280px;
  max-width: 300PX;
  scroll-snap-align: center;
  margin: 0 10px;
  -webkit-box-shadow: 0 4px 8px rgba(89, 73, 30, 0.6);
          box-shadow: 0 4px 8px rgba(89, 73, 30, 0.6);
  width: 100%;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-complementos .container .ovnis img {
  width: 100%;
}
.main-complementos .container .refresco {
  position: relative;
  min-width: 280px;
  max-width: 300PX;
  scroll-snap-align: center;
  margin: 0 10px;
  -webkit-box-shadow: 0 4px 8px rgba(89, 73, 30, 0.6);
          box-shadow: 0 4px 8px rgba(89, 73, 30, 0.6);
  width: 100%;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-complementos .container .refresco .imagenes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-complementos .container .refresco .imagenes img {
  width: 150px;
  height: 200px;
}
.main-complementos .container .refresco .imagenes img:nth-child(2) {
  width: 70px;
}

.img-pizzas, .img-ovnis {
  position: absolute;
  width: 95%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  overflow: hidden;
  z-index: 1;
}
.img-pizzas img, .img-ovnis img {
  width: 250px;
  height: auto;
  margin: 15px 0;
}
@media (min-width: 900px) {
  .img-pizzas img, .img-ovnis img {
    margin: 0;
  }
}
.img-pizzas img:nth-child(odd), .img-ovnis img:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.img-pizzas img:nth-child(even), .img-ovnis img:nth-child(even) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (min-width: 900px) {
  .img-pizzas, .img-ovnis {
    padding-top: 0;
  }
  .img-pizzas img:nth-child(5), .img-pizzas img:nth-child(6), .img-pizzas img:nth-child(7), .img-ovnis img:nth-child(5), .img-ovnis img:nth-child(6), .img-ovnis img:nth-child(7) {
    display: none;
  }
}

.main-promociones {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 10px;
}
.main-promociones::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 240px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
}
@media (min-width: 900px) {
  .main-promociones::before {
    display: none;
  }
}
.main-promociones .promociones {
  position: relative;
  padding: 5px;
}
.main-promociones .contenido {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5px;
  z-index: 1;
}
.main-promociones .contenido .delivery {
  text-align: center;
  margin: auto;
}
.main-promociones .contenido .delivery p:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 10px;
}
.main-promociones .contenido .delivery p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-promociones .contenido .delivery .arrowR::after {
  content: "";
  background-image: url(../asset/right-arrow.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 15px;
  height: 20px;
  padding-left: 5px;
}
.main-promociones .contenido .delivery p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 600;
}
.main-promociones .contenido img {
  width: 80px;
  height: 190px;
}

.footer {
  width: 100%;
  height: auto;
  padding-top: 10px;
  background-color: #F3C186;
  border-top: 2px solid #f35a18;
}
.footer .whatsapp {
  position: fixed;
  display: inline-block;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}
.footer .whatsapp .logo {
  width: 100%;
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 60px;
  margin: 0 auto;
}
.footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link .fa-facebook-square {
  font-size: 3rem;
  color: #f35a18;
}
.footer-link .fas {
  font-size: 2rem;
  color: black;
}
.footer-link .fa-map-marker-alt {
  font-size: 1.5rem;
  color: #f35a18;
}
.footer-link .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link .footer-logo .logo {
  width: 50px;
  height: 50px;
}
.footer-link .footer-logo .nombre {
  width: 210px;
  height: 30px;
}
.footer-dev {
  width: 100%;
  height: 100%;
  background-color: black;
}
.footer-dev_section {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-dev_section div {
  margin-top: 10px;
  color: white;
  font-size: 1.4rem;
  z-index: 2;
}
.footer-dev_section .fa-laptop-code {
  color: white;
}
.footer-dev_section .cont-kukulkan {
  position: relative;
  top: -35px;
  -webkit-perspective: 100px;
          perspective: 100px;
  width: 100px;
  height: 50px;
  z-index: 1;
}
.footer-dev_section .cont-kukulkan .kukulkan {
  position: absolute;
  width: 100px;
  height: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotatex(47deg);
          transform: rotatex(47deg);
}

@media (min-width: 900px) {
  .media-queries {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[2fr];
    grid-template-columns: repeat(2fr);
    -ms-grid-rows: ()[4fr];
    grid-template-rows: repeat(4fr);
    width: 95%;
    height: auto;
    margin: 0 auto;
  }
  .media-queries > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .media-queries > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .media-queries > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .media-queries .container_pizzas-position {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .media-queries .main-ingredientes {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .media-queries .main-promociones {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .media-queries .container_ovnis-position {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .media-queries .main-complementos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .media-queries .main-complementos .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden;
  }
}