/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
/*@function rad($number){
    @return $number * 3.141592 / 180;
}

@function explosion($number,$radio) {
    $angle: 360 / $number;
    $text-shadow: '';
    @for $i from 0 through $number {
        $text-shadow: $text-shadow + $radio * cos(rad($angle * $i)) + ' ' + $radio * sin(rad($angle * $i));
        @if $i < $number { $text-shadow: $text-shadow + ','}
    }

    @return unquote($text-shadow)

}*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Baloo 2", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 95px;
  background-color: #F3C186;
}
.header-titulo {
  width: 95%;
  height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-titulo .logo {
  width: 75px;
  height: 70px;
}
.header-titulo .nombre {
  width: 230px;
  height: 35px;
}
.header-nav {
  width: 100%;
  height: 20px;
  padding-top: 1px;
  background: #e5ab67;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5ab67), to(#f3c186));
  background: linear-gradient(180deg, #e5ab67 0%, #f3c186 100%);
}
.header-nav_enlaces ul {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav_enlaces ul li a {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}
.header-nav_enlaces ul li a::after {
  content: " | ";
}

.main {
  width: 100%;
  height: auto;
  background-image: url("/imgs/fondomovil.jpg");
  background-repeat: repeat;
  opacity: 0.8;
}
.main-titulo {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-titulo .izamal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-titulo .izamal h1 {
  font-size: 1.8rem;
  font-weight: 900;
}
.main-titulo .izamal .fas {
  font-size: 2.5rem;
  color: yellow;
  /*text-shadow: explosion(50, 100px);*/
}
.main-titulo .frase {
  font-size: 1.5rem;
  font-weight: 600;
}
.main-ovnis {
  width: 95%;
  height: 100%;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-ovnis::before {
  content: "";
  background-image: url("/imgS/ingredientes.png");
  position: absolute;
  width: 95%;
  height: 1410px;
  background-color: #fae9b5;
  opacity: 0.5;
  border-radius: 10px;
}
.main-ovnis_container {
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  max-width: 500PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}
.main-ovnis_container .main-ovnis_titulo {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-ovnis_container .main-ovnis_titulo h2 {
  font-size: 1.8rem;
  font-weight: 900;
  border-bottom: 1px solid black;
}
.main-ovnis_container .main-ovnis_titulo p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.main-ovnis_container .ovnis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: auto;
  border: 2PX solid #f35a18;
  border-radius: 10PX;
  margin: 10px 0;
  padding: 5px;
}
.main-ovnis_container .ovnis-nombre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.main-ovnis_container .ovnis-ingredientes {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.main-ovnis_container article:nth-child(even) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main-pizzas {
  width: 95%;
  height: 100vh;
  margin: 10px auto 0;
}
.main-pizzas_container {
  width: 100%;
  height: 100%;
}
.main-pizzas_container .pizza {
  width: 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-pizzas_container .pizza-img {
  position: relative;
  width: 40px;
  height: 140px;
  z-index: 2;
}
.main-pizzas_container .pizza-container {
  position: relative;
  width: 260px;
  height: auto;
  padding: 5px 5px 5px 10px;
  left: -19px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 103, 1, 0.6);
  z-index: 1;
}
.main-pizzas_container .pizza-container .pizza-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 900;
}
.main-pizzas_container .pizza-container .pizza-ingredientes {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.footer {
  width: 100%;
  height: 95px;
  padding-top: 10px;
  background-color: #F3C186;
  border-top: 2px solid #f35a18;
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 60px;
  margin: 0 auto;
}
.footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link .fa-facebook-square {
  font-size: 2.5rem;
  color: #f35a18;
}
.footer-link .fas {
  font-size: 1.2rem;
  color: black;
}
.footer-link .fa-map-marker-alt {
  font-size: 1.5rem;
  color: #f35a18;
}
.footer-link .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link .footer-logo .logo {
  width: 50px;
  height: 50px;
}
.footer-link .footer-logo .nombre {
  width: 150px;
  height: 25px;
}
.footer-dev {
  width: 100%;
  height: 50px;
  background-color: black;
}
.footer-dev_section {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-dev_section div {
  color: white;
  font-size: 1.4rem;
}
.footer-dev_section .fa-laptop-code {
  color: white;
}