doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/09ed2e842d.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/CSS/style.css")
        title Pizzeria K'an'in
    body
        header.header
            section.header-titulo 
                    img.logo(src="./imgs/logo.png", alt="logo pizzeria")
                    img.nombre(src="./asset/nombre.svg", alt="nombre pizzeria")
            section.header-nav 
                nav.header-nav_enlaces
                    ul
                        li: a(href="/") PIZZAS
                        li: a(href="#ovni") OVNI'S     
                        li: a(href="/") ARMA TU PIZZA   
                        li: a(href="/") PROMOCIONES
        main.main
            section.main-titulo 
                .izamal 
                    h1 Las mejores PIZZAS de IZAMAL
                    i.fas.fa-heart
                .frase 
                    P El sabor que toca a tu puerta!!!
            section.main-pizzas
                .main-pizzas_container       
                    img(src="./Pizzas/pp.svg", alt="pizza pp")
                    img(src="/Pizzas/pp2.svg", alt="")
                    img(src="/Pizzas/pp3.svg", alt="")
                    img(src="/Pizzas/pp4.svg", alt="")
                    img(src="/Pizzas/pp5.svg", alt="")
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA ESPAÑOLA
                            p $115
                        div.pizza-ingredientes
                            P Queso, jamón, pepperoni y piña
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA HAWAIANA
                            p $115
                        div.pizza-ingredientes
                            P Queso, jamón, salami y piña
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA MEXICANA
                            p $115
                        div.pizza-ingredientes
                            P Queso, jamón, chorizo, jalapeño y cebolla
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA CHORIÑA
                            p $120
                        div.pizza-ingredientes
                            P Queso, jamón, chorizo, piña y cebolla
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA ESPECIAL
                            p $140
                        div.pizza-ingredientes
                            P Queso, jamón, salami, salchicha, pepperoni, piña, champiñón, chile, jalapeño
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA VEGETARIANA
                            p $140
                        div.pizza-ingredientes
                            P Queso, tomate, cebolla, pimiento verde, piña y champiñón
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA K'ANK'IN
                            p $159
                        div.pizza-ingredientes
                            P Queso, jamón, salami, salchicha, pepperoni, chorizo, piña, champiñon, chile jalapeño, cebolla 
                    article.pizza
                        div.pizza-nombre 
                            p PIZZA DE PASTOR
                            p $159
                        div.pizza-ingredientes
                            P Queso, carne al pastor, piña, cebolla, cilantro, salsa de guacamole, salsa chipotle
            section.main-ovnis#ovni
                .main-ovnis_container 
                    section.main-ovnis_titulo
                        h2 OVNI
                        p El sabor de la pizza convertido en un exquisito pan redondo y crujiente, que tiene como base pastel pimiento, queso, salsa de pizza y aderezo.
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI CLASICO
                            p $30
                        div.ovnis-ingredientes
                            P Queso, jamón, pepperoni y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI TOSCANO
                            p $30
                        div.ovnis-ingredientes
                            P Queso, jamón, salchicha y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI ROMANO
                            p $35
                        div.ovnis-ingredientes
                            P Queso, jamón, champiñón y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI ITALIANO
                            p $35
                        div.ovnis-ingredientes
                            P Queso, jamón, pepperoni, champiñón y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI ESPAÑOL
                            p $35
                        div.ovnis-ingredientes
                            P Queso, jamón, pepperoni, piña y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI HAWAIANO
                            p $35
                        div.ovnis-ingredientes
                            P Queso, jamón, salami, piña y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI TRADICIONAL
                            p $35
                        div.ovnis-ingredientes
                            P Queso, jamón,champiñón, piña y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI MEXICANO
                            p $38
                        div.ovnis-ingredientes
                            P Queso, jamón,chorizo, jalapeño y cebolla
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI CHORIÑO
                            p $38
                        div.ovnis-ingredientes
                            P Queso, jamón,chorizo, piña, cebolla y jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI ESPECIAL
                            p $40
                        div.ovnis-ingredientes
                            P Queso, jamón, salami, salchicha, pepperoni, piña, champiñon, chile jalapeño
                    article.ovnis
                        div.ovnis-nombre 
                            p OVNI VEGETARIANO
                            p $40
                        div.ovnis-ingredientes
                            P Queso, tomate, cebolla, pimiento verde, piña, champiñón y jalapeño.
        footer.footer 
            section.footer-link
                ul 
                    li: a(href="https://www.facebook.com/Pizzeria-kankin-114564466897042/?ref=page_internal")
                        i.fab.fa-facebook-square
                    li: a.fas(href="#") UBICACIÓN
                        i.fa-map-marker-alt
                    li: a(href="#")
                .footer-logo 
                    img.logo(src="./imgs/logo.png", alt="logo pizzeria")
                    img.nombre(src="./asset/nombre.svg", alt="nombre pizzeria")   
            section.footer-dev
                section.footer-dev_section 
                    div: p by
                        i.fas.fa-laptop-code
                    <a href='https://www.freepik.es/vectores/patron'>Vector de Patrón creado por macrovector - www.freepik.es</a>