doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;800&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/CSS/style.css")
        link(rel="stylesheet", href="/CSS/animaciones.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        title Pizzeria K'an'in
    body
        header.header
            section.header-titulo 
                    img.logo.animate__animated.animate__bounceInLeft(src="./imgs/logo.png", alt="logo pizzeria")
                    img.nombre.animate__animated.animate__rotateInDownRight(src="./asset/nombre.svg", alt="nombre pizzeria")
            section.header-nav 
                nav.header-nav_enlaces
                    ul
                        li: a(href="#PIZZAS") PIZZAS
                        li: a(href="#OVNI") OVNI'S     
                        li: a(href="/") ARMA TU PIZZA   
                        li: a(href="/") PROMOCIONES
        main.main
            section.main-titulo 
                .izamal 
                    h1 Las mejores PIZZAS de IZAMAL
                    i.fas.fa-heart.animate__animated.animate__zoomIn
                .frase 
                    P El sabor que toca a tu puerta!!!
                i.fas.fa-angle-down.animate__animated.animate__slideOutDown
            .img-pizzas
                img.animacion(src="/imgS/movil/pizza1.png", alt="pizza")
                img.animacion(src="/imgS/movil/pizza2.png", alt="pizza")
                img.animacion(src="/imgS/movil/pizza3.png", alt="pizza")
                img.animacion(src="/imgS/movil/pizza4.png", alt="pizza")
                img.animacion(src="/imgS/movil/pizza5.png", alt="pizza")
                img.animacion(src="/imgS/movil/pizza7.png", alt="pizza")
            section.main-pizzas
                .main-pizzas_container
                    .greca
                    h2.p#PIZZAS PIZZAS
                    .greca
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA PP
                                p $89
                            .pizza-ingredientes
                                P Queso Y pepperoni
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA CLÁSICA
                                p $110
                            .pizza-ingredientes
                                P Queso, jamón Y pepperoni
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA TOSCANA
                                p $110
                            .pizza-ingredientes
                                P Queso, jamón y salchicha
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA ROMANA
                                p $115
                            .pizza-ingredientes
                                P Queso, jamón y champiñón
                    .pizza  
                        img.pizza-img.medium(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA ITALIANA
                                p $115
                            .pizza-ingredientes
                                P Queso, jamón, pepperoni y champiñón
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA ESPAÑOLA
                                p $115
                            .pizza-ingredientes
                                P Queso, jamñon, pepperoni y piña
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA HAWAIANA
                                p $115
                            .pizza-ingredientes
                                P Queso, jamón, salami y piña
                    .pizza  
                        img.pizza-img.medium(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA MEXICANA
                                p $120
                            .pizza-ingredientes
                                P Queso, jamón, chorizo, jalapeño y cebolla
                    .pizza  
                        img.pizza-img.small(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA CHORIÑA
                                p $120
                            .pizza-ingredientes
                                P Queso, jamón, chorizo, piña y cebolla
                    .pizza  
                        img.pizza-img.big(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA ESPECIAL
                                p $140
                            .pizza-ingredientes
                                P Queso, jamón, salami, salchicha, pepperoni, piña, champiñón, chile jalapeño
                    .pizza  
                        img.pizza-img.medium(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA VEGETARIANA
                                p $140
                            .pizza-ingredientes
                                P Queso, tomate, cebolla, pimiento verde, piña, y champiñón
                    .pizza  
                        img.pizza-img.big(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA k'ANK'IN
                                p $159
                            .pizza-ingredientes
                                P Queso, jamón, salami, salchicha, pepperoni, chorizo, piña, champiñon, chile, jalapeño y cebolla.
                    .pizza  
                        img.pizza-img.big(src="/asset/toten.png", alt="toten")
                        .pizza-container 
                            .pizza-nombre 
                                p PIZZA DE PASTOR
                                p $159
                            .pizza-ingredientes
                                P Queso, carne al pastor, piña, cebolla, cilantro, salsa de guacamole y salsa chipotle

            section.main-ovnis#OVNI
                section.main-ovnis_container
                    .greca 
                    .main-ovnis_titulo
                        h2 OVNI
                        p El sabor de la pizza convertido en un exquisito pan redondo y crujiente, que tiene como base pastel pimiento, queso, salsa de pizza y aderezo.
                    .greca
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI CLASICO
                                p $30
                            .ovnis-ingredientes
                                P Queso, jamón, pepperoni y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI TOSCANO
                                p $30
                            .ovnis-ingredientes
                                P Queso, jamón, salchicha y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI ROMANO
                                p $35
                            .ovnis-ingredientes
                                P Queso, jamón, champiñón y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI ITALIANO
                                p $35
                            .ovnis-ingredientes
                                P Queso, jamón, pepperoni, champiñón  y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI ESPAÑOL
                                p $35
                            .ovnis-ingredientes
                                P Queso, jamón, pepperoni, piña  y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI HAWAIANO
                                p $35
                            .ovnis-ingredientes
                                P Queso, jamón, salami, piña  y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI TRADICIONAL
                                p $35
                            .ovnis-ingredientes
                                P Queso, jamón, champiñón, piña  y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI MEXICANO
                                p $38
                            .ovnis-ingredientes
                                P Queso, jamón, chorizo, jalapeño y cebolla
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI CHORIÑO
                                p $38
                            .ovnis-ingredientes
                                P Queso, jamón, chorizo, piña, cebolla y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI ESPECIAL
                                p $40
                            .ovnis-ingredientes
                                P Queso, jamón, salami, salchicha, pepperoni, piña, champiñon y jalapeño
                    .ovnis.animacion
                        img(src="/asset/ovni.png", alt="logo ovni")
                        .ovnis-container
                            .ovnis-nombre 
                                p OVNI VEGETARIANO
                                p $40
                            .ovnis-ingredientes
                                P Queso, romate, cebolla, pimiento verde, piña, champiñón y jalapeño

        footer.footer 
            section.footer-link
                ul 
                    li: a(href="https://www.facebook.com/Pizzeria-kankin-114564466897042/?ref=page_internal")
                        i.fab.fa-facebook-square
                    li: a.fas(href="#") UBICACIÓN
                        i.fa-map-marker-alt
                    li: a(href="#")
                .footer-logo 
                    img.logo(src="./imgs/logo.png", alt="logo pizzeria")
                    img.nombre(src="./asset/nombre.svg", alt="nombre pizzeria")   
            section.footer-dev
                section.footer-dev_section 
                    div: p by
                        i.fas.fa-laptop-code
                    .cont-kukulkan 
                        img.kukulkan(src="/imgS/kukulkan.png", alt="serpiente emplumada kukulkan")
                    a(href="https://es.vecteezy.com/vectores-gratis/maya") Maya Vectores por Vecteezy
        script(src="/index.js") 
        script(src="https://kit.fontawesome.com/09ed2e842d.js" crossorigin="anonymous") 